
<div class="container" id="container-top-padding">

  <h2>{{name}}</h2>

  <ul class="collection">
    <div class="container">

      <p><span>Size:</span> {{size}}</p>
      <p><span>Focus:</span> {{focus}}</p>
      <p><span>industry:</span> {{industry}}</p>
      <p>Website: <a href="{{website}}">{{website}}</a></p>

      <div class="row">
        <div class="col s6">
          <h5>Pros</h5>
          <p>{{pros}}</p>
        </div>
        <div class="col s6">
          <h5>Cons</h5>
          <p>{{cons}}</p>
        </div>
      </div>

    </div>
  </ul>

  <h4>Tasks</h4>
  <ul id="tasks-snapshot">
  </ul>

  <h4>Jobs</h4>
  <ul id="jobs-snapshot">
  </ul>

  <button class="btn waves-effect waves-light" type="submit" name="action" id="edit-company-btn">Edit</button>
  <button class="btn waves-effect waves-light" type="submit" name="action" id="delete-company-btn">Delete</button>

</div>
