<h1>{{name}}</h1>
<a href="{{website}}">{{website}}</a>

<h2>Tasks</h2>
<ul class="collection" id="tasks-snapshot">
  <li class="collection-item">I'm a task!</li>
  <!-- {{#each tasks}}
    <li class="collection-item">{{this}}</li>
  {{/each}} -->
</ul>

<h2>Jobs</h2>
<ul class="collection" id="jobs-snapshot">
  <li class="collection-item">I'm a job!</li>
  <!-- {{#each jobs}}
    <li class="collection-item">{{this}}</li>
  {{/each}} -->
</ul>

<div class="col s6">
  <h3>Pros</h3>
  <p>{{pros}}</p>
</div>
<div class="col s6">
  <h3>Cons</h3>
  <p>{{cons}}</p>
</div>

<p><span>Size:</span> {{size}}</p>
<p><span>Focus:</span> {{focus}}</p>
<p><span>industry:</span> {{industry}}</p>

<button class="btn waves-effect waves-light" type="submit" name="action" id="edit-company-btn">Edit</button>
<button class="btn waves-effect waves-light" type="submit" name="action" id="delete-company-btn">Delete</button>
