
<div class="container" id="container-top-padding">

  <h2>{{name}}</h2>

  <ul class="collection">
    <div class="container">

      <p><span>Size:</span> {{size}}</p>
      <p><span>Focus:</span> {{focus}}</p>
      <p><span>industry:</span> {{industry}}</p>
      <p>Website: <a href="{{website}}">{{website}}</a></p>

      <div class="row">
        <div class="col s6">
          <h5>Pros</h5>
          <p>{{pros}}</p>
        </div>
        <div class="col s6">
          <h5>Cons</h5>
          <p>{{cons}}</p>
        </div>
      </div>

    </div>
  </ul>

  <!-- Task title and add task button -->
  <div class="row" style="margin-bottom: 0;">
    <h4 id="block">Tasks</h4>
    <button
      id="new-task-btn"
      class="btn waves-effect waves-light" type="submit"
      name="action"
      style="margin: 1.14rem 0 0.912rem 0; float: right;">
      Add Task
    </button>
  </div>
  <ul id="tasks-snapshot">
  </ul>

  <!-- Job title and add job button -->
  <div class="row" style="margin-bottom: 0;">
    <h4 id="block">Jobs</h4>
    <button
      id="new-job-btn"
      class="btn waves-effect waves-light" type="submit"
      name="action"
      style="margin: 1.14rem 0 0.912rem 0; float: right;">
      Add Job
    </button>
  </div>

  <ul id="jobs-snapshot">
  </ul>

  <button class="btn waves-effect waves-light" type="submit" name="action" id="edit-company-btn">Edit</button>
  <button class="btn waves-effect waves-light" type="submit" name="action" id="delete-company-btn">Delete</button>

</div>
