
<div class="container" id="container-top-padding">

  <div class="row">
    <h2>{{title}}</h2>
    <h5>Company: <span id='at-company' style="cursor: pointer">{{company_name}}</span>
    </h5>
  </div>

  <ul class="collection">
    <div class="container">

      <p><span>Location:</span> {{located}}</p>
      <p><span>Salary:</span> {{salary}}</p>
      <p><span>Notes:</span> {{notes}}</p>

      <div class="row">
        <div class="col s6">
          <h5>Pros</h5>
          <p>{{pros}}</p>
        </div>
        <div class="col s6">
          <h5>Cons</h5>
          <p>{{cons}}</p>
        </div>
      </div>

      <p><span>Applied:</span> {{#if date_applied}}{{date_applied}}{{else}}Not Applied{{/if}}
        <br><span>Status:</span> {{job_status_category}}
      </p>
      <p><span>Contact:</span>
        <i class="tiny material-icons">phone</i> {{contact_phone}}
        <i class="tiny material-icons">email</i> {{contact_email}}
      </p>


    </div>
  </ul>

  <!-- Task title and add task button -->
  <div class="row" style="margin-bottom: 0;">
    <h4 id="block">Tasks</h4>
    <button
      id="new-task fixed"
      class="btn waves-effect waves-light" type="submit"
      name="action"
      style="margin: 1.14rem 0 0.912rem 0; float: right;">
      Add Task
    </button>
  </div>

  <ul id="tasks-snapshot">
  </ul>




  <button class="btn waves-effect waves-light" type="submit" name="action" id="edit-job-btn">Edit</button>
  <button class="btn waves-effect waves-light" type="submit" name="action" id="delete-job-btn">Delete</button>

</div>
